{
  "projects": {
    "kzn": {
      "name": "kzn",
      "git": "git@github.com:liamdawson/kzn.git",
      "tags": ["git", "personal"],
      "override_path": "~/.kzn"
    }
  },
  "settings": {
    "shell": ["/usr/bin/env", "zsh", "-c"],
    "workspace": "~/w",
    "default_tags": [
      "git"
    ],
    "tags": {
      "git": {
        "after_workon": "git remote update --prune",
        "priority": 0
      },
      "personal": {
        "priority": 10,
        "workspace": "~/w/p/"
      },
      "work": {
        "priority": 100,
        "workspace": "~/w/work/"
      }
    }
  }
}
