[user]
	name = "Liam Dawson"

[core]
	pager = "less -FRX"
	excludesfile = ~/.gitignore
	editor = vim

[color]
	ui = auto

[push]
	default = current

[rerere]
	enabled = true
	autoupdate = true

[commit]
	verbose = true

[merge]
	ff = only

[pull]
	ff = only

[gpg]
	program = gpg

[alias]
	hard-master = "reset --hard origin/master"
	squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1?Please enter a commit message}\");};f"
	push-to = "!f(){ if [[ $# -ne 1 ]] && [[ $# -ne 2 ]]; then echo 'usage: [remote] <dest-branch>'; exit 1; fi; if [[ $# -eq 2 ]];then branch="$2";remote="$1";else remote="origin";branch="$1";fi;git push "$remote" "$(git rev-parse --abbrev-ref HEAD):${branch}";};f"
